/****INDEX****/
/*Base Stylings: 8;
/*Card Control Buttons and Fields: 14;
/*Header Styling: 103;
/*Card Styling: 154;
/*Media Queries: 259;

/*Base Styling*/
body {
  font-family: 'Open Sans', Arial, serif;
  margin: 0;
}

/*Card Control Buttons and Fields*/
button:disabled,
button:disabled:hover {
  background: #D3D3D3;
  opacity: 0.5;
}

.card-controls {
  margin: 20px auto;
  width: 500px;
}

.clear-all-button,
.show-completed-button,
.show-more {
  background: #6D6E71;
  border: none;
  color: #FFFFFF;
  font-size: 16px;
  margin: 10px auto;
  opacity: 0.5;
  padding: 8px;
  width: 500px;
}

.clear-all-button:hover,
.show-completed-button:hover,
.show-more:hover {
  background: #CE3D47;
  opacity: 1.0;
  transition: background 0.5s;
}

.save-button {
  background: #D66068;
  border: none;
  color: #FFFFFF;
  display: block;
  font-size: 16px;
  margin: 5px auto;
  padding: 8px;
  transition: 0.5s background;
  width: 500px;
}

.save-button:disabled:hover {
  box-shadow: none;
  width: 500px;
}

.importance {
  background: #6D6E71;
  border: none;
  color: #FFFFFF;
  font-size: 16px;
  opacity: 0.5;
  padding: 8px;
  margin: 5px;
  width: 100px;
}

.importance:hover {
  background: #D66068;
  opacity: 1.0;
  transition: 0.5s background, 0.5s opacity;
}

.importance-btns {
  display: flex;
  margin: 0 auto;
  width: 500px;
}

.save-button:hover {
  background: #CE3D47;
  box-shadow: 0 0 10px #EAE8FF;
  transition: background 0.5s, box-shadow 1s, width 1s;
  width: 510px;
}

.search{
  width: 500px;
}

.show-more {
  margin: 40px auto;
  display: none;
}

/*Header Styling*/
.accent-color {
  color: #CE3E40;
}

.count {
  color: #EAE8FF;
  display: flex;
  font-size: 12px;
  height: 25px;
  justify-content: flex-end;
  margin: 0 auto;
  text-align: right;
  width: 500px;
}

h1 {
  color: #A1ADB7;
  font-family: "Roboto Slab", Georgia, serif;
  font-size: 45px;
  margin: 0;
  text-align: center;
}

header {
  background: #170019;
  padding: 10px;
}

input,
textarea {
  background: #FFF;
  border: thin solid lightgrey;
  box-sizing: border-box;
  display: block;
  font-size: 18px;
  margin: 5px auto;
  padding-left: 8px;
  width: 500px;
}

p {
  margin: 5px 0;
}

::placeholder {
  color: #A9B2B2;
  filter: blur(.5px);
}

/****Card Styling****/
article {
  border-bottom: thin solid lightgrey;
  margin: 10px auto;
  padding: 20px 0;
  width: 500px;
}

.card-body {
  color: #939598;
  font-size: 17px;
  line-height: 130%;
  margin: 40px 5px;
  width: 490px;
}

.completed {
  background-color: #D1D3D4;
  border-radius: 20px;
  color: #FFF;
  cursor: default;
  font-size: 14px;
  float: right;
  height: 20px;
  padding: 5px 5px;
}

.completed:hover {
  background-color: #39B54A;
  transition: 0.5s background;
}

.completed-card {
  opacity: 0.2;
  transition: opacity 1s;
}

.delete {
  background-color: transparent;
  background-image: url(images/delete.svg);
  border: none;
  float: right;
  height: 30px;
  width: 30px;
}

.delete:hover {
  background-image: url(images/delete-hover.svg);
  transition: 0.5s background-image;
}

.down-vote {
  background-color: transparent;
  background-image: url(images/downvote.svg);
  border: none;
  height: 30px;
  outline: none;
  margin-left: 1%;
  width: 30px;
}

.down-vote:hover{
  background-image: url(images/downvote-hover.svg);
  transition: 0.5s background-image;
}

 h2 {
  color: #170019;
  display: inline-block;
  font-family: "Roboto Slab", Georgia, serif;
  font-size: 24px;
  margin: 0;
}

.level {
  margin-left: 6px;
}

.quality, 
.level {
  color: #170019;
  display: inline-block;
}

.quality {
  font-weight: bold;
  margin-left: 12px;
}

.up-vote {
  background-color: transparent;
  background-image: url(images/upvote.svg);
  border: none;
  height: 30px;
  outline: none;
  width: 30px;
}

.up-vote:hover {
  background-image: url(images/upvote-hover.svg);
  transition: 0.5s background-image;
}

/****Media Queries****/
@media (max-width:600px) {
  article,
  .card-controls,
  .clear-all-button,
  .count,
  input,
  .save-button,
  .search,
  .show-completed-button,
  .show-more,
  textarea {
    width: 400px;
  }

  .card-body {
    width: 390px;
  }

  .importance {
    font-size: 12px;
    margin: 1px;
    padding: 8px 4px;
  }

  .importance-btns {
    display: flex;
    margin: 10px auto;
    width: 400px;
  }
}

@media (max-width:450px) {
  article,
  .card-controls,
  .clear-all-button,
  .count,
  input,
  .save-button,
  .search,
  .show-completed-button,
  .show-more,
  textarea {
    width: 300px;
  }

  .card-body {
    width: 290px;
  }

  .completed {
    float: none;
    text-align: center;
  }

  .importance-btns {
    width: 300px;
  }
}

@media (max-width:350px) {
  article,
  .card-controls,
  .clear-all-button,
  .count,
  input,
  .save-button,
  .search,
  .show-completed-button,
  .show-more,
  textarea {
    width: 250px;
  }

  .card-body {
    width: 240px;
  }

  .importance-btns {
    width: 250px;
  }
}